.title-ellipsis {
  white-space: nowrap;       
  overflow: hidden;          
  text-overflow: ellipsis;   
  max-width: 400px;         
  display: inline-block;     
  vertical-align: middle;
}

/* .fullname-ellipsis {
  white-space: nowrap;       
  overflow: hidden;          
  text-overflow: ellipsis;   
  max-width: 250px;         
  display: inline-block;     
  vertical-align: left;
} */