.form-link {
    color: black !important;
    text-decoration: none;
}

.ellipsis {
  white-space: nowrap;       
  overflow: hidden;          
  text-overflow: ellipsis;   
  max-width: 200px;         
  display: inline-block;     
  vertical-align: middle;
}