body {
  background-color: #193e75; 
  margin: 0;
  font-family: sans-serif;
}

/* .center-card {
  max-width: 800px;
  margin: 0 auto;
} */

.title {
    font-size: 40px;
    font-weight: bold;
}

.part {
    font-size: 25px;
    font-weight: bold;
}

.topic {
    font-size: 25px;
    font-weight: bold;
}

.example, .description, .multiple-ans-index {
    font-size: 16px;
    color: #9d9d9d;
}

.question {
    font-size: 20px;
}

/* .old-answer {
  font-size: 16px;
  color: #707070;
} */

/* select {
    width: 40%;
    max-width: 40%;
    appearance: none;      
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px !important;
    color: #333;

    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='10' height='7' viewBox='0 0 10 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%23333' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;
} */


.input-field {
    border: none;
    border-bottom: 2px solid #636363; 
    outline: none; 
    padding: 8px 4px;
    font-size: 16px;
    width: 40%;
    max-width: 40%;
}


.input-field:focus {
  border-bottom: 2px solid #28a745; 
}

.topic-index-input-field {
  border: none;
  border-bottom: 2px solid #636363;
  color: #9d9d9d;
  outline: none;
  padding: 2px 4px;
  /* margin: 11px; */
  font-size: 16px;

  width: auto;
  min-width: 1ch;
  max-width: 3ch; 
  text-align: center;

  box-sizing: content-box;
}

/* .btn {
  font-size: 30px;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
} */

.btn-plus, .btn-minus {
  color: black; 
  transition: color 0.2s ease; 
  outline: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.btn-minus:hover {
  color: #d40c0c; 
  outline: none;
  box-shadow: none;
  border: none;
}

.btn-plus:hover {
  color: #28a745; 
  outline: none;
  box-shadow: none;
  border: none;
}

.btn-plus:disabled i,
.btn-minus:disabled i {
  color: gray !important;
}

.btn-delete {
  color: red;
  margin-left: 12px;
  cursor: pointer;
  font-size: 16px;
}

.btn-prewiew {
  font-size: 16px;
  color: #9d9d9d;
  margin-left: 12px;
  cursor: pointer;
}

/* .listbox:focus {
  outline: 2px solid hsl(152, 77%, 65%);
} */





.container {
  position: relative;
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.arrow.left {
  left: -80px;
}

.arrow.right {
  right: -80px;
}


.center-info {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; 
  flex-direction: column;
}

.page-info {
  font-size: 16px;
  font-weight: 500;
  min-width: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file {
  width: 40%;
  max-width: 40%;
}

