.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b7264;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
}

.navbar-left, .navbar-center {
  flex: 0;
  text-align: left;
  margin-left: 20px;
  white-space: nowrap;
}

.navbar-right {
  flex: 1;
  text-align: right;
  margin: auto 20px;
}
