.pdf-editor-container {
  display: flex;
  flex-direction: column;  
  align-items: center;    
  gap: 10px;               
  padding: 20px;
  background-color: #2e2e2e;
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
}

.pdf-canvas {
  border: 1px solid black;
  cursor: crosshair;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: white;
}
/* 
.navigation-buttons {
  display: flex;
  gap: 12px;
  align-items: center;
}


.navigation-buttons button {
  margin: 0 5px;
}

.navigation-buttons span {
  font-weight: bold;
  margin: 0 10px;
} */

.btn {
  font-size: 20px;
  color: #fff;
  border: none;            
  border-radius: 8px;      
  padding: 8px 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.decline-btn {
  background-color: #ff0000;
}

.decline-btn:hover {
  background-color: #b70000;
  color: #fff;
}

.approve-btn {
  background-color: #28a745;
}

.approve-btn:hover {
  background-color: #1a8332;
  color: #fff;
}

.download-btn {
  background-color: #0961bf;
}

.download-btn:hover {
  background-color: #09519e;
  color: #fff;
}

.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 9999;
}

.floating-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.floating-btn:hover {
  background-color: #0056b3;
}
